version: '3.8'
services:
  db:
    image: mysql:8.0
    container_name: my-spring-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: my_database
      MYSQL_USER: user
      MYSQL_PASSWORD: 1234
    command: # 한글 깨짐 방지 설정
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci